{% extends "layout.html" %}
  
{% block content %}
<!--
	<div id="slideshow">
		<ul class="slides">
    		<li><img src="static/img/photo1.jpg" alt="" width="640" height:="480" class="active"/></li>
    		<li><img src="static/img/photo2.jpg" alt="" width="640" height:="480"/></li>
    		<li><img src="static/img/photo3.jpg" alt="" width="640" height:="480"/></li>
    		<li><img src="static/img/photo4.jpg" alt="" width="640" height:="480"/></li>
    		<li><img src="static/img/photo5.jpg" alt="" width="640" height:="480"/></li>
    	</ul>
    	<span class="arrow previous"></span>
    	<span class="arrow next"></span>
	</div>
-->
	<div class="container">
  		<p>Lorem ipsum dolor sit amet, ridens theophrastus qui ut, dolorum recusabo accommodare at duo. Eirmod facilisi phaedrum sed in. Te usu dicit nemore nusquam. In brute choro tamquam quo.</p>

		<p>Dolores deleniti eu ius. Nam ad dolore graeci honestatis. Mel no omnis definitionem, at labores dolorum commune sit. Ne sit tation disputando, justo quodsi virtute ut eam. Recteque dissentiet ne quo, quo ut esse fierent. Vim cu tamquam habemus.</p>

		<p>Quod luptatum ad vis, aliquid expetendis his ne. Pri at novum exerci equidem. Mel at prima legimus delicata. Vis id integre recteque dissentias, libris facilisi cu sit, usu te menandri consulatu democritum. Et magna alterum eos.</p>

		<p>Tollit partem cetero in sea, est ut amet veri. Eu quando integre vel, usu justo error an. Tantas soleat mei te, persius dolores volutpat ad vis, duis liber nominati has in. Cum no utamur veritus consulatu, numquam adversarium te per.</p>

		<p>Habeo labores mentitum ius in, eam nostrum deserunt tincidunt id. Legendos concludaturque pri ut, ex vix modo vidit reque. Erat justo fastidii ne eos, legere inermis referrentur cum ut. Autem everti suscipiantur id per, nam te legere veritus philosophia.</p>
		<br>
		<br>
	</div>
{% endblock %}